html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(59, 59, 59, 0.918);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  color: whitesmoke;
  width: 100vw;
  height: 70px;
  background-color: rgb(59, 59, 59);
}

#menu {
  padding-right: 20px;
}
#menu ul {
  list-style-type: none;
  text-align: right;
}
#menu li {
  display: inline-block;
}
#menu a {
  color: whitesmoke;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 15px;
}

footer {
  color: whitesmoke;
  width: 100vw;
  height: 70px;
  background-color: rgb(59, 59, 59);
  margin-top: auto;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
}

footer ul {
  list-style: none;
  font-size: small;
  padding-left: 5px;
  padding-top: 2%;
  margin-bottom: 5px;
}

#about {
  color: whitesmoke;
  text-align: center;
  padding-top: 50px;
  max-width: 80vw;
  margin: auto;
  margin-top: 25px;
  padding: 10px;
}

#search-bar {
  max-width: 500px;
  border-radius: 5px;
}

#search-button {
  max-width: 100px;
}

#search-container {
  width: 80vw;
}

.container {
  width: 80vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
}
