html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(233,  231,  231);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vertical-menu {
  text-align: center;
  padding-top: 100px;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  font-size: 50px;
}

.vertical-menu a:hover {
  background-color: rgb(233, 233, 233);
}

.vertical-menu a:active {
  background-color: white;
}

footer {
  color: white;
  width: 100vw;
  height: 70px;
  background-color: rgb(28, 28, 29);
  margin-top: auto;
}

footer a {
  color: white;
  text-decoration: none;
}

footer ul li {
  list-style: none;
  font-size: small;
}
